name: Main

on:
    push:
      branches:
        - master
    pull_request:
      branches:
        - master

jobs:
    build-and-test:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest]
                python-version: [3.7, 3.8]
        steps:
        - uses: actions/checkout@v2
        - name: Set up Python ${{ matrix.python-version }}
          uses: actions/setup-python@v2.1.2
          with:
            python-version: ${{ matrix.python-version }}
        - name: Install ibis_dask with dependences
          run: |
            pip install -r requirements_locked.txt
            pip install .[develop]
        - name: Run flake8
          run: flake8
        - name: Run flake8
          run: |
            mypy ibis_dask
        - name: Run tests
          run: |
            pytest
